@import "../mixins.scss";


.form-container{
    margin: 3rem;
    display: flex;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
}