@import "../mixins.scss";


.header-wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    z-index: 1;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 22.53%;
    height: 56px;
    width: 100%;
    @include DropShadow;
    @include DarkBg;

    img {
        @include Padding16px
    }

}

.logout-button {
    @include BorderWhiteR16;
    @include BorderWhiteR16;
    @include CommentsButtons;
    background: none;
    padding-inline: 16px;
    @include BorderRadius32px;
    height: 24px;
}