@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

//COLORS:
@mixin YellowTxt {
    color: #FFFF00;
}
@mixin WhiteTxt {
    color: white;
}

@mixin YellowBg {
    background-color: #FFFF00;
}
@mixin YellowBorder {
    border: #FFFF00 1px solid;
}
@mixin DarkBg {
        background: #2E2E2E;
}

//BORDERS
@mixin BorderWhiteR16{
    border: white solid 1px;
    border-radius: 16px;
}

//PADDINGS INLINE
@mixin Padding16px {
padding-inline: 16px;    
}
@mixin Padding8px {
padding-inline: 8px;    
}

// MARGINS Y
@mixin Margin8 {
    margin-top: 8px;
    margin-bottom: 8px;
    
}
@mixin Margin16 {
    margin-top: 16px;
    margin-bottom: 16px;
    
}
@mixin Margin0 {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

//TYPO:
@mixin typo-extras {
    font-family: 'Manrope';
    font-size: 12px;
    line-height: 15px;
}
@mixin typo-extras-semibold {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
@mixin CommentsButtons {
    //styleName: M_Comments;
    font-family: 'Manrope';
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

::hover{
@include YellowTxt()}    
}

@mixin TextLeft {
    text-align: left;
}

@mixin PostTitle {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
}

@mixin PostBodyText {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
}

@mixin PostUserName {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

@mixin MHeadline1 {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    /* or 130% */
    letter-spacing: -0.01em;
}

//DROP SHADOWS
@mixin DropShadow{
  filter:  drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.35)) drop-shadow(-3px -3px 8px rgba(100, 100, 100, 0.4));
}

//BORDERS
@mixin BorderRadius16px {
    border-radius: 16px;
    
}
@mixin BorderRadius32px {
    border-radius: 32px;
    
}